footer {
    @include box(100%,10dvh);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    color:var(--colorFooterText);
    background-color:var(--colorFooterBackground);

    section {
        width:40%;
        display:flex;
        justify-content: space-around;

        @include responsive(1024px) {
            width:25%;
        }
        @include responsive(1440px) {
            width:15%;
        }

        img {
            width: 4dvh;
            transition:0.3s;
            cursor:pointer;
        }
        img:hover {
            transform: scale(120%);
        }
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
    }
}


