footer {
    @include box(100%,10dvh);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    color:var(--colorFooterText);
    background-color:var(--colorFooterBackground);

    section {
        width:25%;
        display:flex;
        justify-content: space-around;

        img {
            width:20px;
            transition:0.3s;
            cursor:pointer;
        }
        img:hover {
            transform: scale(110%);
        }
    }

    p {
        font-size: 2.5vw;
    }
}


