.header-container {
    height: 10dvh;
    background-color: var(--colorHeaderBackground);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}

.logo-nom, .mode-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo, .nom, .mode, .menu {
    padding: 0 2vw;
}


.nom {
    font-family: Righteous;
    font-size: 0.5em;
    color: var(--colorHeaderText);
    margin: 0;
}

.mode, .menu {
    img {
        transition:0.3s;
        cursor:pointer;
    }
    img:hover {
        transform: scale(120%);
    }
}

.dark header {
    & .header-container{
        background-color: black;
    }
    
}