.header-container {
    height: 10dvh;
    background-color: var(--colorHeaderBackground);
    color: var(--colorHeaderText);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}

// .svg {
//     filter: brightness(0) saturate(100%) invert(36%) sepia(22%) saturate(735%) hue-rotate(159deg) brightness(90%) contrast(82%);
// }

.logo-nom, .mode-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo, .nom, .mode, .menu {
    padding: 0 2vw;
}


.nom {
    font-family: Righteous;
    font-size: 0.5em;
<<<<<<< HEAD
    letter-spacing: 0.07rem;
=======
>>>>>>> origin/ludovic
    color: var(--colorHeaderText);
    margin: 0;
}

.mode, .menu {
    img {
        transition:0.3s;
        cursor:pointer;
    }
    img:hover {
        transform: scale(120%);
    }
}

