main {
    width: 100%;
    height:80dvh;
    background: var(--colorMainBackground);
    position:relative;

    section {
        @include box(100%);
        padding: 0px 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        @include responsive(450px) {
            justify-items:center;
        }

        %taks {
            
            font-weight: 400;
            color: var(--colorTaskText);
            background-color: var(--colorListBackground);
            position: relative;
            width: 85vw;
            height: 65dvh;
            max-height: 80%;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            @include responsive(450px) {
                width:400px;
                
            }

            .header {
                @extend .righteous-regular;
                width: 100%;
                height: 8dvh;
                background-color: var(--colorListHeaderBackground);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                color: var(--colorMainText);
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;

                h2 {
                    width: 50%;
                    padding-left: 4%;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                img {
                    position: absolute;
                    right: 4%;
                    cursor: pointer;
                    height:5%;
                }
            }

            .footer {
                display: flex;
                align-items: center;

                @include responsive(300px) {
                    font-size: 1.1rem;
                    padding-left: 20px;
                }

                div {
                    cursor: pointer;
                    &::before {
                        content: '+';
                        margin-right: 10px;
                    }

                    &::first-letter {
                        text-transform: capitalize;
                    }

                    &:hover {
                        color: var(--colorMainText);
                    }
                }
            }
        }

        .todo {
            @extend %taks;
        }

        .doing {
            @extend %taks;
        }

        .done {
            @extend %taks;
        }
    }

    #navPoints {
        @include box(12%,5%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:absolute;
        bottom:2%;
        left:50%;
        transform: translateX(-50%);

        div {
            @include box(10px);
            border-radius: 50%;
            background-color: var(--colorFooterText);
            opacity:0.5;
            @include responsive(1400px) {
                display:none;
            }
        }
        .navColor {
            opacity:1;
        }
        
    }
}