.list {
    overflow: hidden;
    overflow-y: scroll;
    height:50dvh;
    .task {
        @include box(95%,8%);
        border:solid 1px var(--colorHeaderText);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 2.5%;
        margin-top: 5px;
        color:var(--colorHeaderText);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        cursor: grab;

        .div1 {
            @include box(95%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                height:25px;
                cursor:pointer;
                transition: 0.3s;
            }
            img:hover {
                transform: scale(120%);
            }
        }

        .div2 {
            padding:2%;
        }
    }

    .task:hover {
        border:solid 1px blue;
    }
}
