.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCenterAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexCenterColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flexCenterColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.absoluteCenter {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}